<% provide(:title, "Edit user") %>

<div class="container">
  <div class="form-group">
    <%= form_for(@user, html: {id: "regForm"}) do |f| %>
        
        <div class="page-header">
          <h2><span class="glyphicon glyphicon-list-alt"></span> Update Profile </h2>
        </div>

        <div class="row">

          <div class="col-md-2"></div>

          <div class="col-md-8">

            <%= render 'shared/error_messages' %>
        
            <%= form_for(@user) do |f| %>
            
            <%= render 'fields', f: f %>
              
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
            <% end %>

          </div>

        </div>

    <% end %>
  </div>
</div>