<% provide(:title, 'Sign up') %>

<div class="container">
	<div class="form-group">
    <%= form_for(:session, url: "users", html: {id: "regForm"}) do |f| %>
        
        <div class="page-header">
          <h2><span class="glyphicon glyphicon-list-alt"></span> Sign Up </h2>
        </div>

        <div class="row">

          <div class="col-md-2"></div>

          <div class="col-md-8">

            <%= render 'shared/error_messages' %>
	    	
    	    	<%= form_for(@user) do |f| %>
    	      
    		    <%= render 'fields', f: f %>
    		      
    		    <%= f.submit "Create My Account", class: "btn btn-primary" %>
    		    <% end %>

          </div>

        </div>

  	<% end %>
	</div>
</div>